*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    backface-visibility: hidden;/* animation時のにじみ防止 */
      -webkit-backface-visibility: hidden;/* animation時のにじみ防止 */
}

body{
    font-family: 'YuGothic','Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', 'Meiryo','ＭＳ ゴシック',sans-serif;
    min-height: 100vh;
}
/* ^^^^^^^^^^^^^^Section About Me^^^^^^^^^^^^^^ */
.mb-16{
    margin-bottom: 4rem;
}
.mt-8{
    margin-top: 2rem;
}
.text-blue{
    color: teal;
}
.text-center{
    text-align: center;
}
.text-3xl{
    font-size: 1.875rem;
    line-height: 2.25rem;
}
.font-bold{
    font-weight: 700;
}
.font-medium{
    font-weight: 600;
}
.block{
    display: block;
}
.mt-1{
    margin-top: .25rem;
}
.text-center{
    text-align: center;
}
.text-gray{
    color: #333333;
}
/* ^^^^^^^^^^^^^^^^^^Sction About Me Body^^^^^^^^^^^^^^^^ */
.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 640px){
    .container {
        max-width: 640px;
    }
}
@media (min-width: 768px){
    .container {
        max-width: 768px;
    }
}
@media (min-width:1024px) {
    .lg-max-w-5xl {
      max-width: 64rem;
    }
}
@media (min-width: 768px) {
    .md-flex{
        display: flex;
    }
    .md-justify-center{
        justify-content: center;
    }
    .md-mx-auto{
        margin-left: auto;
        margin-right: auto;
    }
}
.text-center {
    text-align: center;
}
.border-border {
    color: gainsboro;
}
.inline-block {
    display: inline-block;
}
.p-8 {
    padding: 2rem;
}
.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
}
.flex {
    display: flex;
}
.flex-col {
    flex-direction: column;
}
.justify-center {
    justify-content: center;
}
.mt-4 {
    margin-top: 1rem;
}
.mb-8 {
    margin-bottom: 2rem;
}
.max-w-min {
    max-width: -webkit-min-content;
    max-width: -moz-min-content;
    max-width: min-content;
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 768px){
    .md-mx-0 {
        margin-left: 0;
        margin-right: 0;
    }
    .md-ml-32 {
        margin-left: 8rem;
    }
}
@media (min-width: 768px){
    .md-mt-4 {
        margin-top: 1rem;
    }
}
.w-28 {
    width: 7rem;
}
.text-lg, .text-xl {
    line-height: 1.75rem;
}
.cursor-pointer {
    cursor: pointer;
}
.underline {
    text-decoration: underline;
}
.text-l{
    font-size:large;
}
/* --------Skills--------------- */
.py-8{
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.text-xl{
    font-size: 1.25rem;
}
.border-t {
    border-top: 1px solid rgba(0, 161, 161, 0.5)
}
@media (min-width: 768px){
    .md-w-96 {
        width: 24rem;
    }
}
.text-sm {
    font-size: .875rem;
    line-height: 1.25rem;
}
@media (min-width: 768px){
    .md-mt-2 {
        margin-top: .5rem;
    }
    .md-text-2xl {
        font-size: 1.5rem;
        line-height: 2rem;
    }
}
.flex-1 {
    flex: 1 1 0%;
}
.items-center {
    align-items: center;
}
@media (min-width: 768px){
    .md-mt-0 {
        margin-top: 0;
    }
}
.md-flex
/* ---------------TIMELINE--------- */

.cp_timeline02 {
	position: relative;
	margin: 3em auto;
	overflow: auto;
}
/* 線 */
.cp_timeline02:before {
	position: absolute;
	left: 50%;
	width: 5px;
	height: 50em;
	content: '';
	background: teal;
}
/* 年代 */
.cp_timeline02 h2 {
	position: relative;
	clear: both;
	max-width: 6em;
	margin: 0 auto 1em;
	padding: .1em;
	text-align: center;
	background: teal;
    color: white;
	border-radius: 8px;
	font-size: 1.2em;
}
.cp_timeline02 ul {
	max-width: calc(100% - 4em);
	margin: 0;
	padding: 0 0 0 2em;
	list-style: none;
}
/* 吹き出し */
.cp_timeline02 li {
	position: relative;
	margin-bottom: 1em;
	padding: 1em;
	background: rgba(0, 126, 126, 0.1);
	width: 42%;
	border-radius: 8px;
	border: solid 1px teal;
}
.cp_timeline02 li:before {
	position: absolute;
	top: 12px;
	left: -14px;
	content: '';
	display: inline-block;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 15px 10px 0;
	border-color: transparent rgba(0, 126, 126, 0.1) transparent transparent;
	z-index: 0;
}
.cp_timeline02 li:after {
	position: absolute;
	top: 12px;
	left: -16px;
	content: '';
	display: inline-block;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 15px 10px 0;
	border-color: transparent teal transparent transparent;
 	z-index: -1;
}
.cp_timeline02 li:nth-child(even) {
	float: right;
	margin-top: 2em;
}
.cp_timeline02 li:nth-child(odd) {
	float: left;
}
.cp_timeline02 li:nth-child(odd):before {
	right: -14px;
	left: auto;
	border-width: 10px 0 10px 15px;
	border-color: transparent transparent transparent rgba(0, 126, 126, 0.1);
}
.cp_timeline02 li:nth-child(odd):after {
	position: absolute;
	right: -16px;
	left: auto;
	content: '';
	display: inline-block;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 0 10px 15px;
	border-color: transparent transparent transparent teal;
 	z-index: -1;
}
.cp_timeline02 li:nth-of-type(2n+1) {
	clear: both;
}
.cp_timeline02 li .flag {
	padding: 0;
	margin: 0;
	font-weight: bold;
}
.cp_timeline02 li .desc {
	font-size: 0.9em;
	line-height: 1.5em;
}
.cp_timeline02 li .time {
	font-size: 0.6em;
	color: #00838F;
	font-weight: bold;
}
@media only screen and (max-width: 767px) {
	.cp_timeline02:before {
		left: 0;
	}
	.cp_timeline02 ul {
		z-index: 1;
		padding: 0 0 0 1.5em;
	}
	.cp_timeline02 li {
		width: 100%;
	}
	.cp_timeline02 li:nth-child(even),
	.cp_timeline02 li:nth-child(odd) {
		float: none;
	}
	.cp_timeline02 li:nth-child(odd):before {
		right: auto;
		left: -14px;
		border-width: 10px 15px 10px 0;
		border-color: transparent rgba(0, 126, 126, 0.1) transparent transparent;
	}
	.cp_timeline02 li:nth-child(odd)::after {
		right: auto;
		left: -16px;
		border-width: 10px 15px 10px 0;
		border-color: transparent teal transparent transparent;
	}
}
/* --------------------------------------------- */
#tab-all{
    animation: tab 500ms ease-out 4500ms both;
}
@keyframes tab {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/* ----------------------以下SVG Animation----------------------- */

.svgbox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    width:100%;
    height:100%;
}

#visi{
    animation: visibility-anime 4500ms ease-out 1ms both;
}
@keyframes visibility-anime {
    0%{
        visibility: visible;
    }
    100%{
        visibility: hidden;
    }
}

#base{
    z-index: 1;
}

#mask{
    z-index: 2;
}

#color-skin,#color-nose,#color-light_1_{
    animation: color-opacity 1200ms ease-out 1500ms both;
}
@keyframes color-opacity{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.mask-face {
    animation: mask-face-draw 1300ms ease-out 0ms both;
}
@keyframes mask-face-draw {
    0%{
      stroke-dasharray: 1342 0;
      stroke-dashoffset: 1343;
    }
    100% {
      stroke-dasharray: 0 1344;
      stroke-dashoffset: 0;
    }
}

.mask-eye {
    animation: mask-eye-draw 1300ms ease-out 3083ms both;
}
@keyframes mask-eye-draw {
    0%{
      stroke-dasharray: 246 0;
      stroke-dashoffset: 247;
    }
    100% {
      stroke-dasharray: 0 248;
      stroke-dashoffset: 0;
    }
}

.mask-light-2-1 {
    animation: mask-light-2-1-draw 1300ms ease-out 1300ms both;
}

.mask-light-2-2 {
    animation: mask-light-2-2-draw 1300ms ease-out 1300ms both;
}

.mask-light-2-3 {
    animation: mask-light-2-3-draw 19300ms ease-out 1300ms both;
}

@keyframes mask-light-2-1-draw {
    0%{
      stroke-dasharray: 109 0;
      stroke-dashoffset: 110;
    }
    100% {
      stroke-dasharray: 0 111;
      stroke-dashoffset: 0;
    }
}

@keyframes mask-light-2-2-draw {
    0%{
      stroke-dasharray: 133 0;
      stroke-dashoffset: 134;
    }
    100% {
      stroke-dasharray: 0 135;
      stroke-dashoffset: 0;
    }
}

@keyframes mask-light-2-3-draw {
    0%{
      stroke-dasharray: 1257 0;
      stroke-dashoffset: 1258;
    }
    100% {
      stroke-dasharray: 0 1259;
      stroke-dashoffset: 0;
    }
}

.masl-light-line {
    stroke-dasharray: 1257 1259;
    stroke-dashoffset: 1258;
    animation: mask-light-line-draw 1300ms ease-out 0ms both;
    animation-direction: reverse;
}

@keyframes mask-light-line-draw {
    100% {
      stroke-dashoffset: 0;
    }
}

.mask-beard-1 {
    animation: mask-beard-1-draw 300ms ease-out 100ms both;
}

.mask-beard-2 {
    animation: mask-beard-2-draw 300ms ease-out 183ms both;
}

.mask-beard-3 {
    animation: mask-beard-3-draw 300ms ease-out 266ms both;
}

@keyframes mask-beard-1-draw {
    0%{
      stroke-dasharray: 244 0;
      stroke-dashoffset: 245;
    }
    100% {
      stroke-dasharray: 0 246;
      stroke-dashoffset: 0;
    }
}

@keyframes mask-beard-2-draw {
    0%{
      stroke-dasharray: 210 0;
      stroke-dashoffset: 211;
    }
    100% {
      stroke-dasharray: 0 212;
      stroke-dashoffset: 0;
    }
}

@keyframes mask-beard-3-draw {
    0%{
      stroke-dasharray: 205 0;
      stroke-dashoffset: 206;
    }
    100% {
      stroke-dasharray: 0 207;
      stroke-dashoffset: 0;
    }
}

.svgbox{
    animation: opacity-anime 300ms ease-out 4000ms both;
}

@keyframes opacity-anime{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
